.flip-arrow-container {
    display: flex;
    align-items: center;
}

.flip-arrow-container > span {
    width: 80%; /* Space for arrow */
}

.flip-arrow {
    width: 24px;
    height: 24px;
    fill: rgb(120, 120, 120);
    transition: transform 0.3s ease;
    margin-left: auto; /* Nice alignment */
    transform: rotate(180deg);
}

.flip-arrow.flipped {
    fill: black;
    transform: rotate(360deg);
}

.active .flip-arrow {
    fill: rgb(200, 200, 200);
}

.active .flip-arrow.flipped {
    fill: white;
}