#explorer-search {
    position: relative; /* Allows positioning elements inside the input field */
    width: 100%; /* Set the width of the input field */
}
  
#explorer-search > input {
    background-color: #f8f9fa;
    width: 100%; /* Full width of the wrapper */
    padding-right: 2rem; /* Add space for the icon on the right */
    box-sizing: border-box; /* Includes padding in the total width */
}
  
#explorer-search i {
position: absolute; /* Position the icon relative to the input wrapper */
top: 50%; /* Center vertically inside the input */
right: 0.625rem; /* Align to the right of the input field */
transform: translateY(-50%); /* Adjust for perfect vertical alignment */
color: black; /* Optional: Style the icon color */
pointer-events: none; /* Prevent icon from interfering with input interactions */
}

.explorer-ul {
    list-style-type: none; /* Removes bullet points */
    padding-left: 0; /* No padding on the <ul> */
}

.explorer-tab {
    width: 100%;
    padding-left: calc(12px + var(--level, 0) * 20px); /* Adjust text indentation */
    padding-right: 12px;
    
    padding-top: calc(
        max(3.5px, 14px / (1 + var(--level, 0)))
    );
    padding-bottom: calc(
        max(3.5px, 14px / (1 + var(--level, 0)))
    );

    font-size: calc(
        max(94%, 100% - var(--level, 0) * 2%)
    );

    text-align: left;
    white-space: normal;    /* Allow text to wrap */
    word-wrap: break-word;  /* Ensure the text breaks appropriately */
    overflow-wrap: break-word;
    cursor: pointer;

}

.explorer-dropdown {
    display: block;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: all 0.25s ease-out;
    /* transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.1s ease-in-out; */
}

.explorer-dropdown.show {
    height: auto;
    opacity: 1;
    visibility: visible;
    max-height: 3000px;
}



.explorer-arrow-container {
    display: flex;
    align-items: center;
}

.explorer-arrow-container > span {
    width: 80%; /* Space for arrow */
}

.explorer-arrow {
    width: 24px;
    height: 24px;
    fill: rgb(120, 120, 120);
    transition: transform 0.3s ease;
    margin-left: auto; /* Nice alignment */
    transform: rotate(180deg);
}

.explorer-arrow.flipped {
    fill: black;
    transform: rotate(360deg);
}

.active .explorer-arrow {
    fill: rgb(200, 200, 200);
}

.active .explorer-arrow.flipped {
    fill: white;
}