.popup {
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;

    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    /* Initial conditions */
    opacity: 0;
    visibility: hidden;
    transform: scale(0);

    transition: all 0.15s ease-out;
    z-index: 10;
}

.popup.show {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.popup > svg {
    margin-right: 5px;
    margin-bottom: 3px;
}