.popup {
    color: white;
    padding: 0.625rem 1.25rem;
    border-radius: 0.375rem;

    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    /* Initial conditions */
    opacity: 0;
    visibility: hidden;
    transform: scale(0);

    transition: all 0.15s ease-out;
    z-index: 10;
}

.popup.show {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.popup > svg {
    margin-right: 0.3125rem;
    margin-bottom: 0.1875rem;
}