#sidebar {
    background-color: #f8f9fa;
    border: 1px solid;
    border-color: gainsboro;
    height: auto;
    position: sticky;
    top: 0;
    padding: 1.25rem;
    overflow-y: auto;
    transition: none;
    z-index: 10;

}

/* Hide sidebar only on smaller screens */
@media (max-width: 768px) {

    #sidebar {
        position: fixed; /* Detach from grid */
        top: 56px; /* Align below navbar */
        left: 0;
        transform: translateX(100%); /* Hidden off-screen initially */
        display: none;
    }  

    #sidebar.show {
        width: 100%;
        height: 100vh;
        transform: translateX(0); /* Slides in when toggled */
        display: block;
    }

    #content-wrapper {
        grid-template-columns: minmax(0, 1fr); /* Make content full width */
    }
}

/* Show hamburger icon on smaller screens */
#sidebar-toggle {
    /* Hidden by default */
    display: none !important; 

    @media (max-width: 768px) {
        display: block !important;
    }
}