/* https://imagecolorpicker.com/color-code/96a1ff */
/* https://www.anthropic.com/claude */


:root {
    --color-primary: #000000;
    --color-secondary: #ffffff;
    --color-tertiary: #4b5180;
    --color-background: rgb(250, 249, 245);
    --color-text: #000000;
  }

html {
    scrollbar-color: rgba(148, 148, 148, 1) transparent;
}

::-webkit-scrollbar-thumb {
    background: transparent;
}

::selection {
    background: var(--color-primary);
    color: rgb(255, 255, 255);
}

::-moz-selection {
    background: var(--color-primary);
    color: rgb(255, 255, 255);
}
  

body {
    background-color: var(--color-background);
}

#content-wrapper {
    display: grid;
    grid-template-columns: 325px minmax(0, 1fr); /* minmax to block horizontal overflow. */
    grid-template-rows: 100% minmax(0, 1fr);
    gap: 1rem;
    max-width: 100vw;
    position: fixed;
    top: 56px; /* navbar */
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: auto;
    overflow-y: auto;
}

main {
    order: 2;
}

#sidebar {
    order: 1;
}

#page-container {
    padding: 1rem;
}

.active {
    background-color: var(--color-primary) !important;
    color: var(--color-secondary) !important;
}


nav {
    background-color: var(--color-primary) !important;
}

input {
    color: black !important;
}

.btn-no-focus {
    box-shadow: none !important;
}


.table-container {
    overflow-x: auto;

    /* Shows latex borders */
    padding-top: 0.1875rem;
    padding-left: 0.1875rem;
}

table {
    width: auto;
    height: auto;
    text-wrap: auto;
}

td {
    border: 1px solid #dee2e6 !important;
}

td, th {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

th > p,
td > p {
    margin: 0;
}

th {
    white-space: nowrap; /* Prevent wrapping */
    color: var(--color-secondary);
    background-color: var(--color-primary);
    font-weight: normal !important;
}

thead {
    box-shadow: 0 0.125rem 0.3125rem rgba(0,0,0,0.2); /* Optional: Add shadow for visual separation */
}