/* https://imagecolorpicker.com/color-code/96a1ff */

html {
    scrollbar-color: rgba(148, 148, 148, 1) transparent;
}

::-webkit-scrollbar-thumb {
    background: transparent;
}

body {
    background-color: rgb(250, 249, 245);
}

#content-wrapper {
    display: grid;
    grid-template-columns: 280px minmax(0, 1fr); /* minmax to block horizontal overflow. */
    grid-template-rows: 100% minmax(0, 1fr);
    gap: 1rem;
    max-width: 100vw;
    position: fixed;
    top: 56px; /* navbar */
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: auto;
    overflow-y: auto;
}

main {
    order: 2;
}

#sidebar {
    order: 1;
}

#page-container {
    padding: 1rem;
}

.active {
    background-color: black !important;
    color: white !important;
}


nav {
    background-color: black !important;
}

input {
    color: black !important;
}

.btn-no-focus {
    box-shadow: none !important;
}


.table-container {
    overflow-x: auto;

    /* Shows latex borders */
    padding-top: 3px;
    padding-left: 3px;
}

table {
    width: auto;
    height: auto;
    text-wrap: auto;
}

td {
    border: 1px solid #dee2e6 !important;
}

td, th {
    padding: 0.7rem !important;
}

th {
    white-space: nowrap; /* Prevent wrapping */
    color: white;
    background-color: black;
}

thead {
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Optional: Add shadow for visual separation */
}