/* Reduced motion blocks the animation */

.tooltip {
    /* position: absolute !important; */
    pointer-events: none;
}

/* Scale the inner tooltip content */
.tooltip.fade .tooltip-inner
{
    transform: scale(0.8);
    transition: transform 0.15s ease;
}

.tooltip.fade {
    opacity: 0;
    transition: opacity 0.15s ease;
}
  
.tooltip.fade.show,
.tooltip.fade.show .tooltip-inner {
    opacity: 1;
    transform: scale(1);
}

.tooltip[x-placement='top'] .tooltip-inner {
    transform-origin: bottom;
}

.tooltip[x-placement='bottom'] .tooltip-inner {
    transform-origin: top;
}

.tooltip[x-placement='left'] .tooltip-inner {
    transform-origin: right;
}

.tooltip[x-placement='right'] .tooltip-inner {
    transform-origin: left;
}