.flip-arrow {
    width: 24px;
    min-width: 24px;
    height: 24px;
    fill: rgb(120, 120, 120);
    transition: transform 0.3s ease;
    transform: rotate(180deg);
}

.flip-arrow.flipped {
    fill: black;
    transform: rotate(360deg);
}

.active .flip-arrow {
    fill: rgb(200, 200, 200);
}

.active .flip-arrow.flipped {
    fill: white;
}