#explorer-container,
#search-container {
    width: 100%;
}

#explorer-search-wrapper {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 50;
}

#explorer-search-wrapper i {
    position: absolute;
    top: 50%;
    right: 0.625rem;
    transform: translateY(-50%);
    color: black;
    pointer-events: none;
}

#explorer-search-wrapper:focus-within i {
    color: var(--color-accent);
}


#explorer-search {
    background-color: #f8f9fa;

    width: calc(100% + 1.5rem); /* Extend beyond container */
    margin: 0 -0.75rem; /* Offset padding */
    padding-right: 2rem; /* Add space for the search icon */
    box-sizing: border-box; /* Includes padding in the total width */
}

#explorer-search:focus {
    border-color: var(--color-accent) !important;
}

#explorer-buttons > button:focus {
    box-shadow: none !important;
}

#explorer-buttons button:focus-visible {
    box-shadow: 0 0 0 2px var(--color-focus) !important; /* Example: Set a custom focus style for tab focus */
}


.explorer-ul {
    list-style-type: none; /* Removes bullet points */
    padding-left: 0; /* No padding on the <ul> */
    margin-bottom: 0;
}

.explorer-tab {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding-left: calc(12px + var(--level, 0) * 20px); /* Adjust text indentation */
    padding-right: 12px;
    
    padding-top: calc(
        max(3.5px, 14px / (1 + var(--level, 0)))
    );
    padding-bottom: calc(
        max(3.5px, 14px / (1 + var(--level, 0)))
    );

    font-size: calc(
        max(94%, 100% - var(--level, 0) * 2%)
    );

    cursor: pointer;
}

.explorer-tab > span {
    text-align: left;
    overflow-wrap: anywhere;
    hyphens: auto;
}

.explorer-tab:focus {
    box-shadow: none !important;
}

.explorer-dropdown {
    display: block;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: all 0.25s ease-out;
    /* transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.1s ease-in-out; */
}

.explorer-dropdown.show {
    height: auto;
    opacity: 1;
    visibility: visible;
    max-height: 3000px;
}