

.sticky-page-header {
    position: sticky;
    top: 1rem; /* match page container padding */
    z-index: 50;
} 

.sticky-page-header::before {
    content: "";
    position: absolute;
    top: -1rem; /* match page container padding */
    bottom: 0;
    left: calc(-1rem - 5px); /* padding + splitter, this is redundant though */
    right: -1rem;

    background: rgba(250, 249, 245, 0.825);
    z-index: -1;
    backdrop-filter: blur(2px);
}

.sticky-page-header h1 {
    margin-bottom: 0 !important;
}

.sticky-page-header hr {
    margin-top: 0.5rem !important;
}