.sticky-header {
    position: sticky;
    top: 0;
    z-index: 50;

    h1, h2, h3, h4, h5, h6, p {
        margin-bottom: 0;
    }

    hr {
        margin-top: 0.5rem;
    }
}

.sticky-header::before {
    content: "";
    position: absolute;
    top: -1.25rem; /* match page container padding */
    bottom: 0;
    left: 0;
    right: 0;

    background: rgba(var(--color-bg-primary-rgb), 0.75);
    backdrop-filter: blur(1.4px) grayscale(.3);
    z-index: -1;
}

.sidebar .sticky-header::before {
    background: rgba(var(--color-bg-tertiary-rgb), 0.75);
}