table {
    width: auto;
    height: auto;
    text-wrap: auto;
}

th {
    border: 1px #232323 solid;
    background-color: var(--color-primary);
    color: var(--color-secondary);

    font-weight: normal !important;
    white-space: nowrap; 
}

td {
    border: 1px solid #dee2e6 !important;
}

th, td {
    padding: 0.5rem !important;
}

th > p,
td > p,
th > ul,
td > ul,
th > ol,
td > ol {
    margin: 0;
}