table tbody tr:nth-of-type(odd) {
    background-color: var(--color-table-stripe-color);
    /* #161616 */
}

table {
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid var(--color-jet);
    border-radius: var(--table-border-radius);
    overflow: hidden;
    /* clip inside cells */

    background-color: var(--color-bg-primary);
}

th,
td {
    padding: 0.5rem !important;
}

tr {
    th:last-child, td:last-child {
        border-right: none !important;
    }
}

th {
    border-bottom: solid 1px var(--color-lines-secondary);
    border-right: solid 1px var(--color-lines-secondary);
    padding: 0.75rem !important;
    background-color: var(--color-table-heading);
    color: var(--color-white);

    font-weight: normal !important;
    white-space: nowrap;

    mark {
        background-color: var(--color-mark);
        color: black;
    }

    p,
    ul,
    ol {
        margin: 0;
    }
}

td {
    padding: 0.5rem !important;
    border-right: 1px solid var(--color-lines) !important;

    p,
    ul,
    ol {
        margin: 0;
    }
}