table {
    width: auto;
    height: auto;
    text-wrap: auto;
}

table tbody tr:nth-of-type(odd) {
    /* background-color: rgba(255, 255, 255, 0.05) !important; */
    background-color: var(--color-table-stripe-color);
    /* #161616 */
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid var(--color-lines);
    border-radius: var(--table-border-radius);
    overflow: hidden;
    /* clip inside cells */
}




th,
td {
    padding: 0.5rem !important;
}

th {
    border: solid 1px var(--color-lines-secondary);
    background-color: var(--color-table-heading);
    color: var(--color-white);

    font-weight: normal !important;
    white-space: nowrap;

    mark {
        background-color: var(--color-mark);
        /* pale yellow */
        color: black;
    }

    p,
    ul,
    ol {
        margin: 0;
    }
}

td {
    border: 1px solid var(--color-lines) !important;

    p,
    ul,
    ol {
        margin: 0;
    }
}