#explorer-search-wrapper {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 50;
}

#explorer-search-icon {
    pointer-events: none;
    position: absolute;
    top: 50%;
    right: 0;

    transform: translateY(-50%);
    color: black;
}

#explorer-clear-search {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute !important;
    top: 50%;
    right: 0;
    width: 2rem;
    height: 2rem;
    
    transform: translateY(-50%) translateX(25%);
    color: black;
}

#explorer-search {
    background-color: white;

    width: calc(100% + 1.2rem); /* Extend beyond container */
    height: 100%;
    margin: 0 -0.6rem; /* Offset padding */
    padding-right: 3rem; /* Add space for the search icon */
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    box-sizing: border-box; /* Includes padding in the total width */
}

#explorer-search-wrapper::before {
    content: "";
    position: absolute;
    
    display: block;
    top: -2rem;
    bottom: 0;
    left: -1rem;
    right: -1rem;
    z-index: -1;
    backdrop-filter: blur(1.4px);
}

#explorer-search:focus {
    border-color: var(--color-accent) !important;
}

#search-container {
    width: 100%;
}

#explorer-container {
    width: 100%;
}
