.btn {
    color: var(--color-text);
}

.btn:focus {
    box-shadow: none !important;
}

.btn:focus-visible {
    box-shadow: 0 0 0 2px var(--color-focus) !important;
}

i .bi {
    color: var(--color-text);
}