/** https://imagecolorpicker.com/color-code/96a1ff */
/* https://m3.material.io/components/buttons/overview */

:root {
    --color-valio-blue: #002f6d;
    --color-valio-blue-50: #001837;
    --color-valio-blue-30: #00214c;
    --color-valio-blue-20: #002657;
    --color-valio-blue-rgb: 0, 47, 109;
    --color-valio-blue-light: rgb(0 77 179);
    --color-m3-dark-purple: #271430;
    --color-m3-lavender: #e2e0f9;
    --color-m3-snow: #f2ecee;
    --color-dark-navy: #041123;
    --color-black: #000;
    --color-white: #fff;

    --table-border-radius: 1rem;
}

.light {
    --color-primary: var(--color-valio-blue);
    --color-primary-80: var(--color-valio-blue-80);
    --color-primary-30: var(--color-valio-blue-30);
    --color-primary-20: var(--color-valio-blue-20);
    --color-primary-rgb: var(--color-valio-blue-rgb);;
    --color-secondary: #6442d6;
    --color-accent: var(--color-valio-blue);
    --color-focus: var(--color-valio-blue);
    --color-enabled: var(--color-valio-blue);
    --color-enabled-text: var(--color-white);
    --color-highlight: #a3afff2b;
    --color-normal: var(--color-white);
    --color-inverse: var(--color-black);
    --color-bg-primary: #FAF9F5;
    --color-bg-secondary: white;
    --color-bg-tertiary: #f8f9fa;
    /* --color-bg-secondary: #f8f9fa; */
    /* --color-bg-tertiary: #FFFFFF; */
    --color-bg-primary-rgb: 250, 249, 245;
    --color-bg-secondary-rgb: 255, 255, 255;
    --color-bg-tertiary-rgb: 248, 249, 250;
    /* --color-bg-secondary-rgb: 248, 249, 250; */
    /* --color-bg-tertiary-rgb: 255, 255, 255; */

    --color-bg-pattern: rgba(0, 0, 0, 0.02);

    --color-text: var(--color-black);
    --color-text-invert: var(--color-white);
    --color-heading: var(--color-valio-blue);
    --color-button: transparent;
    --color-button-hover: #0000000d;
    --color-input: var(--color-white);
    --color-table-heading: var(--color-valio-blue-50);
    --color-table-stripe-color: rgba(0, 0, 0, 0.05);
    --color-nav-link: #555;
    --color-nav-link-hover: #000;
    --color-badge: var(--color-black);
    --color-shadow: rgba(0, 0, 0, 0.15);
    --color-lines: #dee2e6;
    --color-lines-secondary: #232323;
    --color-arrow: rgb(120, 120, 120);
    --color-arrow-flipped: var(--color-primary);
    --color-mark-transparent: rgba(255, 255, 0, 0.4);
    --color-mark: #FF0;
    --color-scrollbar: #949494;
    --color-selection: rgb(88 155 255 / 30%);
}

/* background: #252525; */
.dark {
    --color-primary: #553f5d;
    --color-secondary: #ffffff;
    --color-primary-rgb: 85, 63, 93;

    --color-accent: #ddd8ff;
    --color-focus: var(--color-valio-blue-light);
    --color-enabled: #2c2c35;
    --color-enabled-text: var(--color-white);
    --color-highlight: #553f5d52;
    --color-normal: var(--color-black);
    --color-inverse: var(--color-white);

    --color-bg-primary: #161616;
    --color-bg-secondary: #121212;
    --color-bg-tertiary: #1e1e1e;
    --color-bg-primary-rgb: 22, 22, 22;
    --color-bg-secondary-rgb: 18, 18, 18;
    --color-bg-tertiary-rgb: 31, 31, 31;
    --color-bg-pattern: rgba(255, 255, 255, 0.01);

    --color-text: var(--color-white);
    --color-text-invert: var(--color-black);
    --color-heading: var(--color-white);
    --color-button: transparent;
    --color-button-hover: #45455a;
    --color-input: #353535;
    --color-table-heading: #594d66;
    --color-table-stripe-color: rgba(156, 151, 207, 0.048);

    --color-nav-link: #bbb;
    --color-nav-link-hover: #fff;
    --color-badge: var(--color-white);
    --color-shadow: rgba(255, 255, 255, 0.35);

    --color-lines: rgba(255, 255, 255, 0.1);
    --color-lines-secondary: #232323;
    --color-arrow: rgb(150, 150, 150);
    /* --color-arrow-flipped: var(--color-white); */
    --color-arrow-flipped: var(--color-accent);
    --color-mark-transparent: rgb(255 140 81 / 52%);
    --color-mark: rgb(255 140 81);
    --color-scrollbar: #888;
    --color-selection: rgb(185 125 251 / 25%);
}

body, 
:root,
.sidebar,
.bg-transition {
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease, fill 0.3s ease, stroke 0.3s ease;
}

html {
    font-size: 1rem;
}

@media (max-width: 768px) {
    html {
        font-size: 0.9rem;
    }
}

@media (max-width: 576px) {
    html {
        font-size: 0.8rem;
    }
}

/* Scrollbar */
html {
    scrollbar-color: var(--color-scrollbar) transparent;
}


::-webkit-scrollbar-thumb {
    background: transparent;
}

*::-webkit-scrollbar {
    width: 6px;
}

* {
    scrollbar-width: thin;
}

/* Selection */
::selection {
    background: var(--color-selection);
}

::-moz-selection {
    background: var(--color-selection);
}


.bg-primary {
    background-color: var(--color-bg-primary) !important;
}

.bg-secondary {
    background-color: var(--color-bg-secondary) !important;
}


.bg-tertiary {
    background-color: var(--color-bg-tertiary) !important;
}

body {
    color: var(--color-text) !important;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-heading);
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.125rem;
}

h6 {
    font-size: 1rem;
}

/* @media (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    h3 {
        font-size: 1.15rem;
    }

    h4 {
        font-size: 1rem;
    }

    h5 {
        font-size: 0.75rem;
    }

    h6 {
        font-size: 1rem;
    }
} */

p {
    max-width: 1000px;
}

figcaption {
    font-size: 0.875rem;
}

hr {
    border-top-color: var(--color-lines);
    opacity: 1;
}

button:focus-visible {
    box-shadow: 0 0 0 2px var(--color-primary);
}

input:not([type="color"]) {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-radius: 999rem !important;
    color: var(--color-text) !important;
    border-color: var(--color-lines) !important;
    background-color: var(--color-input) !important;
}

input:focus {
    border-color: var(--color-accent) !important;
}

input::placeholder {
    color: var(--color-text) !important;
    opacity: 0.8 !important;
}

mark {
    background-color: var(--color-mark-transparent);
    color: inherit;
    padding-left: 1px;
    padding-right: 1px;
}

a {
    color: var(--color-accent);
}

a:hover {
    color: var(--color-accent);
}

.active {
    background-color: var(--color-enabled) !important;
    color: var(--color-white) !important;
 
    .flip-arrow {
        fill: rgb(200, 200, 200);
    }

    .flip-arrow.flipped {
        fill: white;
    }
}

footer {
    h1, h2, h3, h4, h5, h6 {
        color: var(--color-text);
    }
}

.hidden {
    display: none !important;
}

.cross-background {
    background-attachment: fixed;
    background-image:
        repeating-linear-gradient( 45deg, var(--color-bg-pattern) 0 1px, transparent 1px 10px),
        repeating-linear-gradient(-45deg, var(--color-bg-pattern) 0 1px, transparent 1px 10px);
}

.dot-background {
    background-image: radial-gradient(var(--color-bg-pattern) 1px, transparent 1px);
    background-size: 0.2rem 0.2rem;
}

.icon-button {
    display: flex !important;
    justify-content: center;
    align-items: center;
    /* border-radius: .75rem; */

    padding: 0.5rem !important;
    aspect-ratio: 1 / 1;
    flex-shrink: 0;

    color: var(--color-text);

    .bi {
        filter: brightness(1.2);
    }
}

.icon-button:hover {
    .bi {
        filter: brightness(1);
    }
}



.hover-glow {
    position: relative;
}

.hover-glow:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(200, 200, 200, 0.2) !important;
}

valio {
    --valio-coal-black: #11181e;
    --valio-iconic-blue: #002f6d;
    --valio-pure-white: #fff;
    --valio-natural-white: #f7f3ed;
    --valio-aluminum-gray: #bac4cc;
    --valio-ash-gray: #dfe3e6;
    --valio-light-grey: #eee;
    --valio-mist: #eaf4fd;
    --valio-action-blue: #204dc6;
    --valio-amazing-blue: #1e00cf;
    --valio-blueberry-blue: #071e4a;
    --valio-summer-sky-blue: #a1c6e9;
    --valio-water: #d3e8e7;
    --valio-amazing-green: #03bb67;
    --valio-rosemary-green: #aac6a1;
    --valio-leaf-green: #016a3e;
    --valio-zucchini-green: #14342a;
    --valio-amazing-purple: #9b6af2;
    --valio-chive-purple: #c3c3e1;
    --valio-purple: #89328f;
    --valio-eggplant-purple: #482747;
    --valio-amazing-pink: #ff45b1;
    --valio-pink-frosting: #f5cdd4;
    --valio-strawberry-red: #d12d2f;
    --valio-beet-red: #520e1b;
    --valio-xmas-red: #aa1839;
    --valio-amazing-peach: #fead95;
    --valio-peach-sorbet: #feba91;
    --valio-orange: #e78c2f;
    --valio-cinnamon-orange: #82302b;
    --valio-amazing-yellow: #fcf48b;
    --valio-lemon-juice-yellow: #f8e699;
    --valio-yellow: #f3c547;
    --valio-turmeric-yellow: #d99b21;
    --valio-cappucino: #e0c7b4;
    --valio-cocoa-brown: #472d13;
    --valio-additional-brown: #efe7de;
    --color-family: var(--valio-iconic-blue);
    --color-text: var(--valio-iconic-blue);
    --color-text-lead: var(--valio-iconic-blue);
    --color-lead-content-border: var(--color-family);
    --text-primary: #11181e;
    --text-secondary: #11181e;
    --text-tertiary: #616161;
    --button-primary: var(--valio-action-blue);
    --button-primary-hover: #1e00cf;
    --button-primary-label: var(--valio-pure-white);
    --button-primary-label-blue: var(--valio-action-blue);
    --blockquote-border-color: var(--color-family);
    --tag-low-key: #efe7de;
    --tag-low-key-label: var(--valio-iconic-blue);
    --tag-secondary: var(--valio-purple);
    --tag-secondary-label: var(--valio-pure-white);
    --navigation-label: var(--valio-iconic-blue);
    --navigation: var(--valio-pure-white);
    --navigation-outline: #dfe3e6;
    --menulist-heading-color: #003878;
    --form-label-disabled: var(--valio-aluminum-gray);
    --min-height-input: 3rem;
    --height-header-content: 3rem;
    --color-brand-season: var(--valio-iconic-blue);
    --spacing-image-text: 3.125rem;
    --font-family-gotham: "Gotham",helvetica,arial,sans-serif;
    --font-family-omnes: "Gotham",helvetica,arial,sans-serif;
    --font-family-sans: "Gotham",helvetica,arial,sans-serif;
    --font-family-playfair: "PlayfairDisplay",helvetica,arial,sans-serif;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    --font-weight-black: 900;
    --font-weight-omnes-regular: 400;
    --font-weight-omnes-medium: 500;
    --font-weight-omnes-semibold: 600;
    --font-size-md: 1.0625rem;
    --font-size-h1-hero: 1.75rem;
    --font-size-h1-product: 1.75rem;
    --font-size-h1-recipe: 1.75rem;
    --font-size-h1: 1.75rem;
    --font-size-h2: 1.5rem;
    --font-size-h3: 1.5rem;
    --font-size-h4: 1.0625rem;
    --font-size-h5: 1.0625rem;
    --font-size-h6: 1.0625rem;
    --font-size-playfair: 1.75rem;
    --font-size-playfair-italic: 2.5625rem;
    --line-height-h1-hero: 1.2;
    --line-height-h1: 1.2;
    --line-height-h1-mobile: 1.1;
    --line-height-h1-optional: 1.2;
    --line-height-h2: 1.2;
    --line-height-h2-optional: 1;
    --line-height-h3: 1.1;
    --line-height-h3-optional: 1.2;
    --line-height-h4: 1.1;
    --line-height-h4-optional: 1.3;
    --line-height-h5: 1.1;
    --line-height-h6: 1.1;
    --line-height-sm: 1.25;
    --line-height-md: 1.5;
    --line-height-paragraph: 1.3;
    --radius-6: 0.375rem;
    --radius-12: 0.75rem;
    --radius-16: 1rem;
    --radius-24: 1.5rem;
    --radius-36: 2.25rem;
    --radius-100: 6.25rem;
    --spacing-2: 0.125rem;
    --spacing-4: 0.25rem;
    --spacing-5: 0.3125rem;
    --spacing-6: 0.375rem;
    --spacing-8: 0.5rem;
    --spacing-10: 0.625rem;
    --spacing-12: 0.75rem;
    --spacing-14: 0.875rem;
    --spacing-16: 1rem;
    --spacing-22: 1.375rem;
    --spacing-24: 1.5rem;
    --spacing-32: 2rem;
    --spacing-40: 2.5rem;
    --spacing-48: 3rem;
    --spacing-56: 3.5rem;
    --spacing-64: 4rem;
    --spacing-72: 4.5rem;
    --spacing-80: 5rem;
    --spacing-96: 6rem;
    --spacing-104: 6.5rem;
    --radius-sm: 1rem;
    --radius-md: 1.5rem;
    --radius-lg: 2rem;
}