/* https://color-name.com */
/** https://imagecolorpicker.com/color-code/96a1ff */
/* https://m3.material.io/components/buttons/overview */

:root {
    --color-valio-blue: #002f6d;
    --color-valio-blue-50: #001837;
    --color-valio-blue-30: #00214c;
    --color-valio-blue-20: #002657;
    --color-valio-blue-rgb: 0, 47, 109;
    --color-valio-blue-light: rgb(0 77 179);
    --color-m3-dark-purple: #271430;
    --color-m3-lavender: #e2e0f9;
    --color-m3-snow: #f2ecee;
    --color-gun-powder: #45455a;
    --color-dark-navy: #041123;
    --color-jet: #353535;
    --color-black: #000;
    --color-white: #fff;

    --font-size: 0.6rem + 0.5vw;
    --table-border-radius: 0.5rem;
}

.light {
    --color-primary: var(--color-valio-blue);
    --color-primary-80: var(--color-valio-blue-80);
    --color-primary-30: var(--color-valio-blue-30);
    --color-primary-20: var(--color-valio-blue-20);
    --color-primary-rgb: var(--color-valio-blue-rgb);;
    --color-secondary: #6442d6;
    --color-accent: var(--color-valio-blue);
    --color-focus: var(--color-valio-blue);
    --color-enabled: var(--color-valio-blue);
    --color-enabled-text: var(--color-white);
    --color-highlight: #a3afff2b;
    --color-normal: var(--color-white);
    --color-inverse: var(--color-black);
    --color-bg-primary: #FAF9F5;
    --color-bg-secondary: white;
    --color-bg-tertiary: #f8f9fa;
    /* --color-bg-secondary: #f8f9fa; */
    /* --color-bg-tertiary: #FFFFFF; */
    --color-bg-primary-rgb: 250, 249, 245;
    --color-bg-secondary-rgb: 255, 255, 255;
    --color-bg-tertiary-rgb: 248, 249, 250;
    /* --color-bg-secondary-rgb: 248, 249, 250; */
    /* --color-bg-tertiary-rgb: 255, 255, 255; */

    --color-bg-pattern: rgba(0, 0, 0, 0);

    --color-text: var(--color-black);
    --color-text-invert: var(--color-white);
    --color-heading: var(--color-valio-blue);
    --color-button: transparent;
    --color-button-hover: #0000000d;
    --color-input: var(--color-white);
    --color-table-heading: var(--color-jet);
    --color-table-stripe-color: rgba(0, 0, 0, 0.03);
    --color-nav-link: #555;
    --color-nav-link-hover: #000;
    --color-badge: var(--color-black);
    --color-shadow: rgba(0, 0, 0, 0.15);
    --color-lines: #dee2e6;
    --color-lines-secondary: #606060;
    --color-arrow: rgb(120, 120, 120);
    --color-arrow-flipped: var(--color-primary);
    --color-mark-transparent: rgba(255, 255, 0, 0.4);
    --color-mark: #FF0;

    --color-ripple-light: rgba(255, 255, 255, 0.3);
    --color-ripple-dark: rgba(0, 0, 0, 0.1);

    --color-selection: rgb(88 155 255 / 30%);
}

/* background: #252525; */
.dark {
    --color-primary: #553f5d;
    --color-secondary: #ffffff;
    --color-primary-rgb: 85, 63, 93;

    --color-accent: #ddd8ff;
    --color-focus: var(--color-valio-blue-light);
    --color-enabled: #2c2c35;
    --color-enabled-text: var(--color-white);
    --color-highlight: #6463782e;
    --color-normal: var(--color-black);
    --color-inverse: var(--color-white);

    --color-bg-primary: #161616;
    --color-bg-secondary: #121212;
    --color-bg-tertiary: #1e1e1e;
    --color-bg-primary-rgb: 22, 22, 22;
    --color-bg-secondary-rgb: 18, 18, 18;
    --color-bg-tertiary-rgb: 31, 31, 31;
    --color-bg-pattern: rgba(255, 255, 255, 0.02);

    --color-text: #e5e7eb;
    --color-text-invert: var(--color-black);
    --color-heading: var(--color-white);
    --color-button: transparent;
    --color-button-hover: var(--color-gun-powder);
    --color-input: #353535;
    --color-table-heading: var(--color-jet);
    --color-table-stripe-color: rgba(156, 151, 207, 0.06);

    --color-nav-link: #bbb;
    --color-nav-link-hover: #fff;
    --color-badge: var(--color-white);
    --color-shadow: rgba(255, 255, 255, 0.35);

    --color-lines: rgba(255, 255, 255, 0.1);
    --color-lines-secondary: #232323;
    --color-arrow: rgb(150, 150, 150);
    /* --color-arrow-flipped: var(--color-white); */
    --color-arrow-flipped: var(--color-accent);
    --color-mark-transparent: rgb(255 140 81 / 52%);
    --color-mark: rgb(255 140 81);
    --color-scrollbar: #888;
    --color-scrollbar-bg: var(--color-bg-tertiary);

    --color-ripple-light: rgba(0, 0, 0, 0.1);
    --color-ripple-dark: rgba(255, 255, 255, 0.3);

    --color-selection: rgb(185 125 251 / 25%);
}

body, 
:root,
.sidebar,
.bg-transition {
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease, fill 0.3s ease, stroke 0.3s ease;
}

/* Scrollbar */
html {
    scrollbar-color: var(--color-scrollbar) var(--color-scrollbar-bg);
}

* {
    scrollbar-width: thin;
}

.scrollbar-big {
    scrollbar-width: auto !important;
}

/* Selection */
::selection {
    background: var(--color-selection);
}

::-moz-selection {
    background: var(--color-selection);
}


.bg-primary {
    background-color: var(--color-bg-primary) !important;
}

.bg-secondary {
    background-color: var(--color-bg-secondary) !important;
}


.bg-tertiary {
    background-color: var(--color-bg-tertiary) !important;
}

body {
    color: var(--color-text) !important;
}

/* h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.125rem;
}

h6 {
    font-size: 1rem;
} */

p {
    max-width: 1000px;
}

figcaption {
    font-size: 87%;
}

hr {
    border-top-color: var(--color-lines);
    opacity: 1;
}

button:focus-visible {
    box-shadow: 0 0 0 2px var(--color-primary);
}

input:not([type="color"]) {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-radius: 999rem !important;
    color: var(--color-text) !important;
    border-color: var(--color-lines) !important;
    background-color: var(--color-input) !important;
}

input:focus {
    border-color: var(--color-accent) !important;
}

input::placeholder {
    color: var(--color-text) !important;
    opacity: 0.8 !important;
}

mark {
    background-color: var(--color-mark-transparent);
    color: inherit;
    padding-left: 1px;
    padding-right: 1px;
}

a {
    color: var(--color-accent);
}

a:hover {
    color: var(--color-accent);
}

.active {
    background-color: var(--color-enabled) !important;
    color: var(--color-white) !important;
 
    .flip-arrow {
        fill: rgb(200, 200, 200);
    }

    .flip-arrow.flipped {
        fill: white;
    }
}

footer {
    a {
        color: var(--color-text);
    }

    a:not(:hover) {
        text-decoration: none;
    }
}

.hidden {
    display: none !important;
}

.cross-background {
    background-image:
        repeating-linear-gradient( 45deg, var(--color-bg-pattern) 0 1px, transparent 1px 10px),
        repeating-linear-gradient(-45deg, var(--color-bg-pattern) 0 1px, transparent 1px 10px);
}

.dot-background {
    background-image: radial-gradient(var(--color-bg-pattern) 1px, transparent 1px);
    background-size: 0.2rem 0.2rem;
}

.icon-button {
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    aspect-ratio: 1 / 1;
    padding: 0.75rem !important;

    color: var(--color-text);
}


.hover-glow {
    position: relative;
}

.hover-glow:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(200, 200, 200, 0.2) !important;
}

.file-explorer__search-results-text {
    color: var(--color-text);
}

.file-explorer__search-bar {
    font-size: 120%;
    padding-left: 1rem !important;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}