/** https://imagecolorpicker.com/color-code/96a1ff */
/** https://www.anthropic.com/claude */

:root {
    --color-primary: #000000;
    --color-secondary: #ffffff;
    --color-accent: rgb(46, 111, 64);
    --color-focus: rgba(46, 111, 64, 0.2);
    --color-background: #FAF9F5;
    --color-text: #000000;
}

/* Scrollbar */
::-webkit-scrollbar-thumb {
    background: transparent;
}

html {
    scrollbar-color: rgba(148, 148, 148, 1) transparent;
}

*::-webkit-scrollbar {
    width: 6px;
}

* {
    scrollbar-width: thin;
}

/* Selection */
::selection {
    background: black;
    color: white;
}

th::selection {
    background: white;
    color: black;
}

::-moz-selection {
    background: var(--color-primary);
    color: white;
}

th::-moz-selection {
    background: white;
    color: black;

}

body {
    background-color: var(--color-background);
    overflow: hidden;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.125rem;
}

h6 {
    font-size: 1rem;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }
    
    h2 {
        font-size: 1.25rem;
    }
    
    h3 {
        font-size: 1.15rem;
    }
    
    h4 {
        font-size: 1rem;
    }
    
    h5 {
        font-size: 0.75rem;
    }
    
    h6 {
        font-size: 1rem;
    }
}

input {
    color: black !important;
}

mark {
    background-color: rgba(255, 255, 0, 0.4);
    color: inherit;
    padding-left: 1px;
    padding-right: 1px;
}

th mark {
    background-color: #ff6; /* pale yellow */
    color: black;
}

.active {
    background-color: var(--color-primary) !important;
    color: var(--color-secondary) !important;
}

.button-with-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 !important;
    height: 2.75rem;
    min-width: 2.75rem;
    aspect-ratio: 1 / 1;    

    color: black;
}

.button-with-icon:hover {
    color: var(--color-accent);
}

.button-with-icon > i {
    font-size: 85%;
}


.hover-glow:hover::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: 1;
    background-color: rgba(200, 200, 200, 0.1) !important;
}
