:root {
    --color-primary: #000000;
    --color-secondary: #ffffff;
    --color-accent: #4b5180;
    --color-focus: rgba(75, 81, 128, 0.3);
    --color-accent: #021CA4;
    --color-focus: rgba(2, 28, 164, 0.3);
    --color-accent: rgb(184, 28, 67);
    --color-focus: rgb(184, 28, 67, 0.3);
    --color-accent: #2E6F40; /* rgb(46, 111, 64 */
    --color-focus: rgba(46, 111, 64, 0.3);

    /* --color-accent: #E2725B; */
    /* --color-accent: #DCAE96; */
    --color-background: #FAF9F5;
    --color-text: #000000;
}

/** https://imagecolorpicker.com/color-code/96a1ff */
/** https://www.anthropic.com/claude */

/* Scrollbar */
::-webkit-scrollbar-thumb {
    background: transparent;
}

html {
    scrollbar-color: rgba(148, 148, 148, 1) transparent;
}

*::-webkit-scrollbar {
    width: 6px;
}

* {
    scrollbar-width: thin;
}

/* Selection */
::selection {
    background: var(--color-primary);
    color: rgb(255, 255, 255);
}

::-moz-selection {
    background: var(--color-primary);
    color: rgb(255, 255, 255);
}

/*  */
body {
    background-color: var(--color-background);
    overflow: hidden;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.125rem;
}

h6 {
    font-size: 1rem;
}

input {
    color: black !important;
}

.active {
    background-color: var(--color-primary) !important;
    color: var(--color-secondary) !important;
}

.flex-wrapper {
    display: flex;
}

.button-with-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute !important; */
    width: 3rem;
    height: 3rem;
    
    color: black;
}

.button-with-icon > i {
    font-size: 150%;
}

.btn-no-box-shadow:focus {
    box-shadow: none !important;
}

.btn:focus {
    box-shadow: none !important;
}

.btn:focus-visible {
    box-shadow: 0 0 0 2px var(--color-focus) !important;
}

.hover-glow:hover::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: 1;
    background-color: rgba(200, 200, 200, 0.1) !important;
}

@media (max-width: 768px) {
    .btn-sm {
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
    }
}