.latex-container {
    max-width: 100%;
    overflow-x: auto;    /* Horizontal scrolling */
    overflow-y: hidden;  /* Hide vertical scrollbar */
}

/* override KaTeX's default block display */
.katex-display {
    display: inline-block !important; 
    text-align: left !important;
    margin: 0 !important;
}

.katex:not(.katex-ignore) {
    position: relative;
    margin: 3px;
    border-radius: 4px; /* Rounds the highlight */
    cursor: pointer;

    user-select: none;
    -webkit-user-select: none;  /* Safari */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* IE10+/Edge */

    transition: box-shadow 0.5s ease-in-out;
}

.katex:not(.katex-ignore):hover {
    color: var(--color-accent);
}

.katex:not(.katex-ignore):hover::before {
    content: "";
    position: absolute;
    top:    -6px;
    left:   -6px;
    right:  -6px;
    bottom: -6px;

    border: 1px dashed #7777773f;
    border-radius: 4px;

    pointer-events: none;   /* Let mouse interactions pass through */
}