/* font: 1.1rem 'Times New Roman', serif; */

#rich-text-editor-root {
  height: 100%;
  overflow-y: auto;
}

.rich-text-editor {
  box-sizing: border-box;
  background-color: var(--color-normal);
  border: 1px solid transparent;
  padding: 0.6rem;
  font-size: 1rem;
  white-space: pre-wrap;
  
  width: 100%;
  height: 100%;
  overflow-y: auto;
  
  .math-editor {
    border-top: 0;
    border-bottom: 0.3rem solid var(--color-accent);
    box-shadow: 0px 3px 7px 0px var(--color-shadow);
  }

  .mq-editable-field,
  textarea {
    border-radius: 0;
    /* border-radius: 0.1rem; */
    outline: 1px solid var(--color-lines);
  }

  .math-editor-equation-field,
  .math-editor-latex-field {
    background-color: var(--color-bg-tertiary);
  }

  .mq-math-mode .mq-root-block {
    white-space: nowrap;
    color: var(--color-text);
  }
  
  .math-editor-latex-field {
    color: var(--color-text);
    field-sizing: content;
  }

  .mq-editable-field.mq-focused,
  textarea:focus {
    height: auto !important;
    box-shadow: none;
    outline: 1px solid var(--color-accent);
    z-index: 2;
  }


  .mq-cursor {
    border-left-color: var(--color-text);
  }

  .mq-math-mode .mq-selection,
  .mq-editable-field .mq-selection,
  .mq-math-mode .mq-selection .mq-non-leaf,
  .mq-editable-field .mq-selection .mq-non-leaf,
  .mq-math-mode .mq-selection .mq-scaled,
  .mq-editable-field .mq-selection .mq-scaled {
    background: var(--color-selection) !important;
    color: var(--color-text) !important;
    border-color: HighlightText;
  }

  img {
    box-sizing: border-box;
    padding: 5px;
    max-width: 100%;
    max-height: 1000px;
    vertical-align: middle;
    background-color: inherit;
  }

  img.equation {
    min-height: 1.77rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    margin-bottom: 0.2rem;
    border-radius: 0.1rem;
    background-color: transparent;
    box-shadow: none;
  }
  
  img.equation.active {}
  
} 


.dark .rich-text-editor {
  img.equation {
    filter: brightness(0) invert(1);
  }
}
  
.rich-text-editor:focus,
.rich-text-editor:focus-within {
  img {
    box-shadow: 0 0 3px 1px var(--color-shadow);
  }
  
  img.equation {
    box-shadow: none;
    outline: 1px dashed var(--color-lines);
  }
}

.rich-text-editor:focus-visible {
  outline: none;
}