#editor {
    background-color: white;
    padding: 0 1rem 1rem 1rem;
}

#editor > .d-flex {
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 0.25rem;

    background-color: black;
    color: white;
    
}

#editor > .d-flex > div > button {
    display: flex;
    color: white !important;
    border-radius: 0 !important;
    aspect-ratio: 1 / 1;
    z-index: 201;
}

#editor > .d-flex > h4 {
    margin: 0 !important;
    white-space: nowrap;       /* Prevents wrapping */
    overflow: hidden;          /* Hides overflowed text */
    text-overflow: clip;   /* Optional: adds "…" at the end */


    z-index: 201;
    pointer-events: none;
}

#gutter-row-1::after {
    top:     0;
    bottom: -43px;
    left:    0;
    right:   0;
    z-index: 200;
    background-color: var(--color-primary) !important;
    background-image: url('../../img/icon/damascus.png');
    background-size: 1500px auto;
    /* background-size: cover; */
    background-position: center;
    background-repeat: no-repeat;
}

#gutter-row-1:hover::before {
    background-color: transparent !important;
}

#rich-text-editor-root {
    height: 100%;
    overflow-y: auto;
}

.rich-text-editor *::selection,
.rich-text-editor::selection {
    background: #3367d1;
    color: white !important;
}

.rich-text-editor *::-moz-selection,
.rich-text-editor::-moz-selection {
    background: #3367d1;
    color: white !important;
}