#sidebar-1        { grid-area: sidebar-1; }
#gutter-col-1     { grid-area: gutter-col-1; }
#main-content     { grid-area: main-content; }
#editor           { grid-area: editor; }
#gutter-row-1     { grid-area: gutter-row-1; }
#gutter-col-2     { grid-area: gutter-col-2; }
#sidebar-2        { grid-area: sidebar-2;}

#content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1px 4fr 1px 0.75fr;
    grid-template-rows: 2fr 1px 1fr;
    height: calc(100vh - 56px); /* navbar */
    grid-template-areas:
        "sidebar-1 gutter-col-1 main-content gutter-col-2 sidebar-2"
        "sidebar-1 gutter-col-1 gutter-row-1 gutter-col-2 sidebar-2"
        "sidebar-1 gutter-col-1 editor       gutter-col-2 sidebar-2";

    background-color: var(--color-background);

    overflow-y: hidden;
}