#content-grid {
    position: relative;
    display: grid;
    overflow-x: hidden; /* temp fix for left sidebar overflowing when loading it as hidden */
}

@media (max-width: 768px) {
    #content-grid {
        grid-template-columns: 1fr !important;
    }
    
    #sidebar-left,
    #left-splitter,
    #right-splitter,
    #sidebar-right {
        display: none;
        grid-row: unset;
        grid-column: unset;
    }
    
    .sidebar {
        display: none; 
        position: absolute !important; /* Detach from grid */
        top: 0;
        left: 0;
        z-index: 5000 !important;
        pointer-events: none !important; /* without this you can't drag the workspace for whatever reason on mobile */
    }  

    .sidebar.show {
        width: 100%;
        display: block !important;
        pointer-events: all !important; /* without this you can't drag the workspace for whatever reason on mobile */

    }
}