#sidebar-1        { grid-area: sidebar-1; }
#gutter-col-1     { grid-area: gutter-col-1; }
#main-content     { grid-area: main-content; }
#editor           { grid-area: editor; }
#gutter-row-1     { grid-area: gutter-row-1; }
#gutter-col-2     { grid-area: gutter-col-2; }
#sidebar-2        { grid-area: sidebar-2;}

#content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1px 4fr 1px 0.75fr;
    grid-template-rows: 2fr 1px 1fr;
    height: calc(var(--vh, 1vh) * 100 - 56px); /* navbar */
    /* height: calc(100vh - 56px); navbar */
    grid-template-areas:
        "sidebar-1 gutter-col-1 main-content gutter-col-2 sidebar-2"
        "sidebar-1 gutter-col-1 gutter-row-1 gutter-col-2 sidebar-2"
        "sidebar-1 gutter-col-1 editor       gutter-col-2 sidebar-2";

    background-color: var(--color-bg-primary);
    overflow-y: hidden;
}


@media (max-width: 768px) {
    #content-wrapper {
        grid-template-columns: 1fr !important;
        grid-template-areas:
            "main-content"
            "gutter-row-1"
            "editor      " !important;
    }
    
    #sidebar-1,
    #gutter-col-1,
    #gutter-col-2,
    #sidebar-2 {
        display: none;
        grid-area: unset !important;
    }
    
    .sidebar {
        display: none; 
        position: fixed !important; /* Detach from grid */
        top: 56px !important;       /* Align below navbar */
        left: 0;
        z-index: 5000 !important;
    }  

    .sidebar.show {
        width: 100%;
        display: block !important;
    }
}