/* https://www.npmjs.com/package/split-grid */

/*************/
/** General **/
/*************/
.gutter {
    position: relative;
    background-color: transparent;
    /* background-color: var(--color-lines); */
    transition: background-color ease-in-out 0.3s;
    cursor: grab;
}

.gutter::before {
    transition: background-color ease-in-out 0.3s;
}

.gutter::after {
    transition: background-color ease-in-out 0.3s;
}

/*****************/
/** Directional **/
/*****************/
.gutter-vertical::after {
    content: '';
    position: absolute;
    top:    -4px;
    bottom: -4px;
    left:    0;
    right:   0;
}

.gutter-horizontal::after {
    content: '';
    position: absolute;
    top:    0;
    bottom: 0;
    left:  -4px;
    right: -4px;
}

.gutter-vertical::before {
    content: '';
    position: absolute;
    top:    -1px;
    bottom: -1px;
    left:    0;
    right:   0;
    z-index: 1000;
}

.gutter-horizontal::before {
    content: '';
    position: absolute;
    top:    0;
    bottom: 0;
    left:  -1px;
    right: -1px;
    z-index: 1000;
}

.gutter-vertical:hover::before,
.gutter-horizontal:hover::before,
.gutter-vertical:active::before,
.gutter-horizontal:active::before {
    background-color: var(--color-accent);
}

#main-workspace-splitter::before,
#main-workspace-splitter::after {
    content: none;
    display: none;
}

.handle {
    top: 0.6rem;
    width: 2rem;
    /* width: 9%; */
    /* min-width: 3rem; */
    /* max-width: 7rem; */
    height: 0.15rem;
    background-color: var(--color-lines);
}

#main-workspace-splitter:active .handle {
    background-color: var(--color-accent);
}