header {
    background-color: var(--color-primary) !important;
}

header.navbar {
    background-image: url('/img/icon/damascus.png');
    background-size: 1500px auto;
    /* background-size: cover; */
    background-position: center;
    background-repeat: no-repeat;
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem !important;
    aspect-ratio: 1;
    height: auto;
}