.sidebar {
    background-color: white;
    position: sticky;
    top: 0;
    height: 100%;
    min-width: 250px;
    padding: 1rem;
    box-sizing: border-box;
    overflow-y: auto;
    z-index: 60;
}

/* Show hamburger icon on smaller screens */
#sidebar-1-toggle {
    /* Hidden by default */
    display: none !important; 
    box-shadow: none !important;


    @media (max-width: 768px) {
        display: flex !important;
    }
}
