.sidebar {
    background-color: white;
    border: 2px solid;
    border-color: gainsboro;
    height: calc(100vh - 56px); /* header */
    position: sticky;
    top: 0;
    padding: 1.25rem;
    overflow-y: auto;
    z-index: 110;
}

#sidebar2 {
    display: none !important;
}

#sidebar2.show {
    display: block !important;
}

/* Hide sidebar only on smaller screens */
@media (max-width: 768px) {

    #sidebar1,
    #splitter1 {
        display: none; /* REMOVE from grid layout */
    }

    #sidebar1 {
        position: fixed; /* Detach from grid */
        top: 56px;       /* Align below navbar */
        left: 0;
    }  

    #sidebar1.show {
        width: 100%;
        display: block;
    }

    #content-wrapper {
        grid-template-columns: minmax(0, 1fr); /* Make content full width */
    }
}

/* Show hamburger icon on smaller screens */
#sidebar1-toggle {
    /* Hidden by default */
    display: none !important; 
    box-shadow: none !important;


    @media (max-width: 768px) {
        display: flex !important;
    }
}
